@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family : "Montserrat", sans-serif;
}
:root{
    /* Colors */
    --primaryColor : hsl(239, 74%, 75%);
    --secondaryColor : hsl(213, 95%, 93%);
    --thirdColor : hsl(226, 59%, 9%);
    --fourthColor : hsl(223,80%, 83%);
    --hoverColor : hsla(239, 44%, 51%, 0.918);
    --paleBlue : hsl(180, 96%, 91%);
    --whiteColor : hsl(0, 0%, 100%);
    --grayColor : hsl(0, 0%, 80%);
    --blackColor : hsl(0, 0%, 0%);
    --greenColor : hsl(140, 73%, 75%);
    --redColor : hsl(0, 84%, 70%);
    --yellowColor : hsl(61, 73%, 75%);
    --greyColor : hsl(0, 0%, 19%);

    /* Fonts and Typography*/
    --biggestFontSize : 2.5rem;
    --h1FontSize : 1.5rem;
    --h2FontSize : 1.25rem;
    --h3FontSize : 1rem;
    --normalFontSize : .938rem;
    --smallFontSize : .813rem;
    --smallestFontSize : .75rem;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display : grid;
    align-items : center;
    gap : 1.5rem;
}
html{
    font-size : 90%;
}
a{
    text-decoration : none;
}
li{
    list-style : none;
}
.icon{
    font-size : var(--h2FontSize);
    cursor : pointer;
}
img, video{
    height: auto;
    width: 100%;
}
.logo{
    border-radius: 50%;
}

/*Insert Toast Notification + Error CSS here*/

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}
.btn .icon{
    margin-left: .5rem;
}
.btn:hover{
    background-color: var(--hoverColor);
}

//pagestyles

.loginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);

    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: hsl(0,0%,91%);

        .imgDiv{
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 70%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;

            img, .footerDiv{
                position: absolute;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .logoImg{
                position: relative;
                top: -100px;

                img{
                    height: 70px;
                    width: 70px;
                    justify-self: center;
                }
            }
            .textDiv{
                position: relative;
                

                .title{
                    color: var(--whiteColor);
                    font-size: 35px;
                    font-weight: 800;
                    text-shadow: 2px 2px 3px rgba(37, 37, 37, 0.795)
                }
                p{
                    color: var(--whiteColor);
                    padding: 1rem;
                    text-shadow: 2px 2px 10px rgba(37, 37, 37, 0.795)
                }
            }
            .footerDiv{
                left: 10px;
                right: 10px;
                bottom: 10px;
                padding: 0 .5rem;
                height: 60px;
                background: rgba(29, 29, 29, 0.48);
                backdrop-filter: blur(1px);
                border-radius: 8px;
                display: flex;
                justify-content: space-evenly;


                .text{
                    color: var(--whiteColor);
                }
                .btn{
                    background: var(--whiteColor);
                    color: var(--primaryColor);
                    padding: .8rem 1.5rem;
                    border-radius: 10px;
                    font-weight: 500;
                    transition: .3s ease;
                    border-radius: 6px;

                    &:hover{
                        background: var(--primaryColor);
                        color: var(--blackColor);
                    }
                }

            }
        }
        .formDiv{
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translateY(-1rem);

            .headerDiv{
                text-align: center;
                padding: 1.5rem 0;

                h1{
                    font-size: 2rem;
                    color: var(--blackColor);
                    font-weight: 600;
                }
            }

            form{
                gap: 1rem;

                .inputDiv{

                    .icon{
                        color: var(--greyColor);
                    }
                    input{
                        background: none;
                        outline: none;
                        border: none;
                        width: 200px;
                    }
                    label{
                        color: var(--blackColor);
                        font-weight: 400;
                        font-size: 14px;
                        padding: .5rem 0;
                        display: block;
                    }
                    .input{
                        gap: .5rem;
                        padding: 1rem;
                        background-color: var(--whiteColor);
                        border-radius: 10px;
                    }
                }
                .btn{
                    padding: .8rem ;
                    background-color: var(--primaryColor);
                    border-radius: 10px;
                    color: var(--whiteColor);
                    align-items: center;
                    margin: auto;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 500;
                    width: 100%;
                    gap: .5rem;
                    transition: .3s ease;

                    .icon{
                        font-size: 25px;
                        transition: .3s;
                    }
                    &:hover{
                        background-color: var(--hoverColor);
                    }
                }
                .forgotPass{
                    font-size: 13px;
                    color: var(--blackColor);
                    opacity: .7;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: underline;

                }
            }
        }
    }
}